#!/usr/bin/env python
import os

DELAY = 60  # Delay between site queries
ALERT_INTERVAL = 1800  # Delay between alert emails

# Login email and password for account sending alerts
EMAIL_USERNAME = "username@gmail.com"
EMAIL_PASSWORD = os.environ.get("SMTP_PASSWORD", "password-app-generated")

# Mail domain and port for account sending alerts
EMAIL_HOST = "smtp.gmail.com"
EMAIL_PORT = 587

# Recipients that will get alert
EMAIL_RECEIVERS = ["username@gmail.com"]
